{% extends "base.html"%}
{% load static %}         
{% block body_content %}
<br>
<div class = "image"  class="center"  style = "display: block;
margin-left: auto;
margin-right: auto;
width: 50%;">
<img class="modal-icon u-imgResponsive" src="https://dl.dropboxusercontent.com/s/e1t2hhowjcrs7f5/100daysui_100icon.png" alt="Trophy"  />
<h1 style = "padding-left: 59px;"> Congratulations!</h1> 

</div>
<h5>You have finished the evaluation of your career interests and you're well on your way to discovering your ideal career path.</h5> 
<br>
{% comment %} 

<h5> Your Result Is: </h8> {% endcomment %}
<br>
<table class="table table-striped">
	<thead>
		<tr>
		  <th scope="col">Stream</th>
		  <th scope="col">Interest</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">Interior Designing </th>
		  <td>{{perI}}%</td>
		</tr>
		<tr>
			<th scope="row">Journalism and mass communication</th>
			<td>{{perJ}}%</td>
		  </tr>
		  <tr>
			<th scope="row">Fashion Technology </th>
			<td>{{perF}}%</td>
		  </tr>
		  <tr>
			<th scope="row">Hotel Management</th>
			<td>{{perH}}%</td>
		  </tr>
	</tbody>
  </table>
  <br><br>
  {% if ic == fc and ic == jc and ic == hc%}
  <p>You are equally interested in 'Interior Designing','Hotel Management','Journalism & Mass Communication' and 'Fashion Designing'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing','Hotel Management','Journalism & Mass Communication' and 'Fashion Designing'' related fields.
  </p>
{% elif ic == fc and ic == jc and ic > hc %}
  <p>You are equally interested in 'Interior Designing','Journalism & Mass Communication' and 'Fashion Designing'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing','Journalism & Mass Communication' and 'Fashion Designing' related fields.
  </p>
{% elif ic == fc and ic == hc and ic > jc %}
  <p>You are equally interested in 'Interior Designing','Hotel Management' and 'Fashion Designing'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing','Hotel Management' and 'Fashion Designing' related fields.
  </p>
{% elif ic == jc and ic == hc and ic > fc %}
  <p>You are equally interested in 'Interior Designing','Journalism & Mass Communication' and 'Hotel Management'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing','Journalism & Mass Communication' and 'Hotel Management' related fields.
  </p>
{% elif fc == jc and fc == hc and fc > ic %}
  <p>You are equally interested in 'Journalism & Mass Communication','Fashion Designing','Hotel Management'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Journalism & Mass Communication','Fashion Designing','Hotel Management' related fields.
  </p>
{% elif ic == jc and ic > hc and ic > fc %}
  <p>You are equally interested in 'Interior Designing' and 'Journalism & Mass Communication'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing' and 'Journalism & Mass Communication' related fields.
  </p>
{% elif ic == fc and ic > jc and ic > hc %}
  <p>You are equally interested in 'Interior Designing' and 'Fashion Designing'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing' and 'Fashion Designing' related fields.
  </p>
{% elif ic == hc and ic > fc and ic > jc %}
  <p>You are equally interested in 'Interior Designing' and 'Hotel Management'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Interior Designing' and 'Hotel Management' related fields.
  </p>
{% elif fc == hc and fc > ic and fc > jc %}
  <p>You are equally interested in 'Fashion Designing' and 'Hotel Management'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Fashion Designing' and 'Hotel Management' related fields.
  </p>
{% elif jc == fc and jc > ic and jc > hc %}
  <p>You are equally interested in 'Journalism & Mass Communication' and 'Fashion Designing'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Journalism & Mass Communication' and 'Fashion Designing' related fields.
  </p>
{% elif jc == hc and jc > ic and jc > fc %}
  <p>You are equally interested in 'Journalism & Mass Communication' and 'Hotel Management'<br>
	  Interpretation :-
	  Your score shows you have equal preferences in 'Journalism & Mass Communication' and 'Hotel Management' related fields.
  </p>
{% elif fc > ic and fc > jc and fc > hc %}
  <p>You preferred 'Fashion Designing' the most, as compared to 'Interior Designing','Journalism & Mass Communication' and 'Hotel Management'<br>
	  Interpretation:-
	  Your score on Fashion Designing quentionary was at a high level. You show formidable skills in designing, fashion and art work related fields.
	  Overall your ability scores indicate that you have great skills in perceiving Fashion Designing stream after 12th
  </p>
{% elif jc > fc and jc > ic and jc > hc %}
  <p>You preferred 'Journalism & Mass Communication' the most, as compared to 'Fashion Designing','Interior Designing' and 'Hotel Management'<br>
	  Interpretation:-
	  Your score on Journalism & Mass Communication quentionary was at a high level. You show formidable skills in writing, Interviewing and reporting related fields.
	  Overall your ability scores indicate that you have great skills in perceiving Journalism & Mass Communication stream after 12th
  </p>
{% elif hc > fc and hc > jc and hc > ic %}
  <p>You preferred 'Hotel Management'the most, as compared to 'Interior Designing','Journalism & Mass Communication' and 'Fashion Designing'<br>
	  Interpretation:-
	  Your score on Hotel Management quentionary was at a high level. You show formidable skills in Communication, Time Management and Customer Services related fields.
	  Overall your ability scores indicate that you have great skills in perceiving Hotel Management stream after 12th
  </p>
{% else %}
  <p>You preferred 'Interior Designing'the most, as compared to 'Fashion Designing','Journalism & Mass Communication' and 'Hotel Management'<br>
	  Interpretation:-
	  Your score on Interior Designing quentionary was at a high level. You show formidable skills in designing, architecture and art work related related fields.
	  Overall your ability scores indicate that you have great skills in perceiving Interior Designing stream after 12th
  </p>	
{% endif %}


<br><br><br>


<a href="{% url "feedbackform" %}" class="btn btn-info" role="button">Feedback Form</a>

<br>
<br>
<br>
<br><br><br><br><br><br><br><br>


{% endblock %}